@import "../../../utilities/css/utilities";

$bodyFont: Poppins, sans-serif;;

@mixin pseudo-background {
	display: block;
	content: '';
	position: absolute;
	left: 0;
	top:0;
	width:100%;
	height: 100%;
}
@mixin pseudo {
	display: block;
	content:'';
	position:absolute;
}
@mixin transition($prop, $speed) {
	transition: $prop $speed ease 0s;
}
@mixin ally {
	width: 0 !important;
	height: 0 !important;
	display: block !important;
	padding: 0 !important;
	margin: 0 !important;
	border: 0 !important;
	overflow: hidden !important;
}
@mixin content-wrap {
	max-width:85vw;
	padding:0px;
	margin: 0 auto;
	position: relative;
}
@mixin template-icon {
	font-family: 'template-icon' !important;
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

/* GroupBegin Global */
body:before {
	content: "768";
}
.show768 {
	display: block;
}
.hide768 {
	display: none;
}
.ui-column-one-quarter.region {
	width: 50%;
	float: left;
	clear: left;
}
.ui-column-one-third.region {
	width: 50%;
	float: left;
}
.ui-column-two-thirds.region {
	width: 50%;
	float: left;
}
.region.right {
	float:left;
}
.region.clearleft {
	clear: none;
}
/* GroupEnd */

/* GroupBegin Header */
#rs-menu-btn {
	font-size: .9333rem;
	font-weight: 700;
	padding: 11px 50px 11px 10px;

	&::before {
		@include template-icon;
		content:icon("e907");
		background:transparent;
		padding:0;
		position: absolute;
		right: 12px;
	    top: 11px;
	    font-size: 24px;
	}

	span {
		padding: 0;
	}
}
/* GroupEnd */

/* GroupBegin Footer */

/* GroupEnd */

/* GroupBegin Apps */

/* GroupEnd */

/* GroupBegin Homepage */
#hp-slideshow-outer {
	#hp-slideshow {

	}
}
/* GroupEnd */

/* GroupBegin Subpage */
#sp-content {
	.content-wrap {
		display: block;
	}
}
.sp-column.two {
	padding-left:0;
}
.sp-column.two #sw-content-layout-wrapper > div[id*=sw-content-layout] {
	margin-left:-25px;
	width:calc(100% + 50px);
}
/* GroupEnd */
