@import "../../../utilities/css/utilities";

$bodyFont: Poppins, sans-serif;;

@mixin pseudo-background {
	display: block;
	content: '';
	position: absolute;
	left: 0;
	top:0;
	width:100%;
	height: 100%;
}
@mixin pseudo {
	display: block;
	content:'';
	position:absolute;
}
@mixin transition($speed) {
	-ms-transition: all $speed ease 0s;
	-moz-transition: all $speed ease 0s;
	-webkit-transition: all $speed ease 0s;
	transition: all $speed ease 0s;
}
@mixin ally {
	width: 0 !important;
	height: 0 !important;
	display: block !important;
	padding: 0 !important;
	margin: 0 !important;
	border: 0 !important;
	overflow: hidden !important;
}
@mixin content-wrap {
	max-width:85vw;
	padding:0px;
	margin: 0 auto;
	position: relative;
}
@mixin template-icon {
	font-family: 'template-icon' !important;
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

/* GroupBegin Global */
body:before {
	content: "640";
}
.show640 {
	display: block;
}
.hide640 {
	display: none;
}
.ui-spn .ui-column-one-third {
    width: auto !important;
    float: none !important;
}
.ui-column-one.region {
	width: auto;
	clear: none;
}
.ui-column-one-quarter.region {
	width: auto;
	float: none;
}
.ui-column-one-half.region {
	width: auto;
	float: none;
}
.ui-column-one-third.region {
	width: auto;
	float: none;
}
.ui-column-two-thirds.region {
	width: auto;
	float: none;
}
.region.right {
	float: none;
}
/* GroupEnd */

/* GroupBegin Header */

/* GroupEnd */

/* GroupBegin Footer */
.gb-bb-footer.links li:nth-child(2) a::after {
	display: none;
}
.gb-bb-footer.links ul {
	flex-wrap: wrap;
	-webkit-flex-wrap: wrap;
}
/* GroupEnd */

/* GroupBegin Apps */

/* GroupEnd */

/* GroupBegin Homepage */
#hp-slideshow-outer {
	#hp-slideshow {
		
	}
}
/* GroupEnd */

/* GroupBegin Subpage */

/* GroupEnd */